#java specific
*.class

#netbeans ignore personal stuff
nbproject/private/

#intellij
*.iws
target/
.idea/
*.iml

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

.classpath
.project
.settings/
log/
logs/
coverage.db
*.log
*.log.gz
*.tmp
output/

dependency-reduced-pom.xml
